.directorButtonContainer {
	justify-content: center;
	margin-bottom: 10px;
}

p {
	text-align: center;
	font-weight: 600;
	color: #000;
}

span {
	font-weight: 200;
}

button {
color: #fff;
	background-color: #f2f2f2;
}

button:hover {
	opacity: 80%;
}