body {
  background-color: black; 
  margin: 0; /* This removes default body margin */
  height: 100vh; /* This ensures the body takes up the full viewport height */
  overflow: hidden; /* This removes the default body overflow */
}

.main-page {
  text-align: center;
  padding: 2rem;
  margin-top: 10%;

  img {
    max-width: 500px;
    margin-bottom: 2rem;
  }

  button {
    margin: 1rem;
  }

}

.welcomeButtons {
  background-color: grey;
  margin: 10px;
  color: #fff;
}

.logo {
  width: 400px; 
}