.main-page {
  text-align: center;
  padding: 2rem;
  margin-top: 10%;

  img {
    max-width: 500px;
    margin-bottom: 2rem;
  }

  button {
    margin: 1rem;
  }
}

.welcomeButtons {
  background-color: grey;
  margin: 10px;
  color: #fff;
}