h4, .genreDescription, button {
	text-align: center;
}

h4 {
	font-weight: 600;
	color: #000;
}

.genreDescription {
	font-weight: 200;
}

.genreButtonContainer {
	justify-content: center;
	margin-bottom: 10px;
}

button {
	color: #000;
	background-color: #f2f2f2;
}

button:hover {
	opacity: 80%;
}