.mat-button span {
  color: #fff !important;
}

mat-card {
  background-color: #000; 
}

.movie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.movieImage {
  max-width: 75%;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  color: red !important;
}

mat-icon {
  color: #fff;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 15px;
  box-shadow: 5px 5px 15px rgba(17, 16, 16, 0.8);
  transition: box-shadow 0.3s ease;
  background-color: #000;
  &:hover {
    box-shadow: 7px 7px 20px rgba(239, 237, 237, 0.4);
  }
}

.movieTitle {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;

  justify-content: center;
  padding-bottom: 10px;
}

.directorName {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff; 
}