<div class="profile-container">

  <div class="sections">

    <form class="update-form">

      <div>
        <h2>Update your Profile</h2>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="userData.username" type="text" name="Username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="userData.password" type="password" placeholder="Password" name="Password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="userData.email" type="email" name="Email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [(ngModel)]="userData.birthday" type="date" name="Birthday">
        </mat-form-field>
      </div>

      <div class="form-buttons">
        <button mat-raised-button class="profileButtons" (click)="editUser()">Update</button>
        <button mat-raised-button class="profileButtons" (click)="deleteUser()">Delete Account</button>
      </div>
    </form>

  </div>

  <div class="favorites">
    <h2>Favorite Movies</h2>
    <div *ngIf="FavoriteMovies.length === 0">
      <p>Your List Is Empty</p>
    </div>
    <app-movie-card [isUserProfile]="true" [userFavourites]="user.FavoriteMovies"></app-movie-card>
  </div>
</div>