<div class="profile-container">
  <div class="sections">
    <div class="info-container">
      <h2>Your Profile</h2>
      <p>Username: <span>{{user.Username}}</span></p>
      <p>Email: <span>{{user.Email}}</span></p>
    </div>

    <form class="update-form">
      <h2>Update your Profile
      </h2>
      
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="userData.username" type="text" name="Username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="userData.password" type="password" placeholder="Password" name="Password" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userData.email" type="email" name="Email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="userData.birthday" type="date" name="Birthday">
      </mat-form-field>
      
      <div class="buttons">
        <button mat-raised-button class="profileButtons" (click)="editUser()">Update</button>
        <button mat-raised-button class="profileButtons" (click)="deleteUser()">Delete Account</button>
      </div>
    </form>
  </div>

  <div class="favorites">
    <h2>Favorite Movies</h2>
    <div *ngIf="favoriteMovies.length === 0">
      <p>Your List Is Empty</p>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let movie of favoriteMovies" class="image-container">
        <img matListItemAvatar src="{{movie.ImagePath}}" />
        <span matListItemTitle>{{movie.Title}}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>