.profile-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.sections {
  margin-top: 20px;
  margin-bottom: 40px;
}

.update-form {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.update-form mat-form-field {
  flex: 1 1 calc(50%);
  padding: 12px;
}

h1 {
  font-weight: 600;
  color: #fff;
  text-align: left;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 400;
  text-align: left;
}

.profileButtons {
  background-color: grey;
  margin: 10px;
  color: #fff;
}

.favorites {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  color: #fff;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
